.menu,
.footer-list {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 20px 0;
  display: flex;
}

.menu-item:not(:first-child),
.footer-list-item:not(:first-child) {
  margin-left: 16px;
}

.menu-item-link,
.footer-list-link {
  text-decoration: none;
  text-transform: capitalize;
  color: darkred;
}

.header {
  padding: 20px;
  background-color: lemonchiffon;
  border: antiquewhite solid 3px;
  text-align: center;

  & .title {
    text-transform: capitalize;
  }

  & .logo {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: goldenrod;
  }
}
